<%= form_for(@prescription) do |f| %>
  <% if @prescription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prescription.errors.count, "error") %> prohibited this prescription from being saved:</h2>

      <ul>
      <% @prescription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :pharmeasy_files %><br>
    <%= f.simple_fields_for :pharmeasy_files do |prescription_file| %>
        <%= render "common/pharmeasy_file_fields", :f => prescription_file %>
      <%end%>
      <%= link_to_add_association 'Add Image', f, :pharmeasy_files, partial: 'common/pharmeasy_file_fields' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>