<h3>Your UUID<small>(Please share this id with your patient)</small>: <%=@current_user.uuid%></h3>

<%=render 'search_form'%>

<h5>Patients</h5>
<table class="table table-bordered table-stripped" style="width: 600px">
    <thead>
        <th>Patient Id</th>
        <th>Patient Name</th>
        <th>Prescription</th>
    </thead>
    <tbody>
        <%@subscriptions.each do |patient|%>
            <tr>
                <td><%=patient.uuid%></td>
                <td><%=patient.email%></td>
                <td>
                    <ul>
                        <%patient.prescriptions.each do |p|%>
                                <li><%=p.name%></li>
                                <li><%p.pharmeasy_files.each do |file|%>
                                        <img src="<%=file.file_name%>" style="height: 50px; float: left; margin-right: 5px"/>
                                    <%end%>
                                </li>
                        <%end%>
                    </ul>
                </td>
            </tr>
        <%end%>
    </tbody>
</table>

