<h3>Your UUID<small>(Please share this id with your doctor)</small>: <%=@current_user.uuid%></h3>

<h5>Past Prescriptions</h5>
<%= link_to('Add Prescription', new_prescription_path) %>
<table class="table table-bordered table-stripped" style="width: 300px">
    <thead>
        <th>Prescriptions</th>
        <th>Images</th>
    </thead>
    <tbody>
        <%@current_user.prescriptions.each do |p|%>
            <tr>
                <td><%=p.name%></td>
                <td><%p.pharmeasy_files.each do |file|%>
                        <img src="<%=file.file_name%>" style="height: 50px; float: left; margin-right: 5px"/>
                    <%end%>
                </td>
            </tr>
        <%end%>
    </tbody>
</table>

<h5>Access Request</h5>
<table class="table table-bordered table-stripped" style="width: 600px">
    <thead>
        <th>Requester Id</th>
        <th>Requester Email</th>
        <th>Request Type</th>
        <th>Action</th>
    </thead>
    <tbody>
        <%@subscribers.each do |req|%>
            <tr>
                <td><%=req.uuid%></td>
                <td><%=req.email%></td>
                <td><%=req.users_role.name%></td>
                <td>
                    <%= form_tag users_approve_access_path do %>
                      <p>
                        <%= hidden_field_tag :user_uuid, req.uuid %>
                        <%= submit_tag "Approve Access", :name => nil %>
                      </p>
                    <% end %>
                </td>
            </tr>
        <%end%>
    </tbody>
</table>

